<h1>Directives:</h1>

<div>
  <p>Space At Start Not Allowed</p>
  <input appDirectives="" type="test" placeholder="Enter text">
</div>

<div>
  <p>Integers Only</p>
  <input appDirectives="integer" type="test" placeholder="Enter text">
</div>

<div>
  <p>Characters Only</p>
  <input appDirectives="onlyChars" type="test" placeholder="Enter text">
</div>

<div>
  <p>Special Characters Not Allowed</p>
  <input appDirectives="noSpecialChars" type="test" placeholder="Enter text">
</div>

<div>
  <p>Allow Decimal</p>
  <input appDirectives="allowDecimal" type="test" placeholder="Enter text">
</div>